langchain-text-splitters==0.3.6
langchain-community==0.3.17
langgraph==0.2.73
langchain-core==0.3.47
langchain-openai==0.3.9
uvicorn==0.34.0
fastapi==0.115.8
streamlit==1.42.0
langchain==0.3.18
python-multipart==0.0.20
PyPDF2==3.0.1